# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Database & Data
*.sqlite3
*.db
data/output/*
!data/output/.gitkeep

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
logs/
